header
    h1 Twitch Streamers
main
    ul
        li.online Thing?
            .logo Logo
            a.name Name
            .current Watching
        li.offline Thing?
            .logo Logo
            a.name Name
            .current Watching


template
    li Thing?
        .logo Logo
        a.name Name
        .current Watching
