header
    h1 Twitch Streamers
main
    ul#toggles
        li: button.online(onclick='showOnline()') Online
        li: button.offline(onclick='showOffline()') Offline
        li: button.all(onclick='showAll()') All
    ul#items
        //- li.online
            img.logo(src='//placehold.it/50')
            .streaming
                .name channelData.display_name
                .game channelData.game
            .status channelData.status
        //- li.online
            img.logo(src='//placehold.it/50')
            .streaming
                .name Name
                .game Game
            .status Watching
        //- li.offline
            img.logo(src='//placehold.it/50')
            .streaming
                .name Name
                .game Game
            .status Watching
        //- li.online
            img.logo(src='https://static-cdn.jtvnw.net/jtv_user_pictures/ogamingsc2-profile_image-9021dccf9399929e-300x300.jpeg' width='50' height='50')
            .streaming
                .name OgamingSC2
                .game StarCraft II
            .status KINGS OF THE NORTH - WINNER'S ROUND 2

template#channel-template
    li: a
        img.logo(width='50' height='50')
        .streaming
            .name Name
            .game Game
        .status Watching
