body {
    background: #222;
    color: silver;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.board {
    display: flex;
    flex-direction: column;
    margin: 10vh auto;
}
.row {
    display: flex;
}
.cell {
    width: 20vh;
    height: 20vh;
    min-width: 120px;
    min-height: 120px;
    max-width: 30vw;
    max-height: 30vh;
    background: #333;
    margin: 4px;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &:hover {
        background: #393939;
    }
    &:before {
        content: attr(data-score);
        position: absolute;
        font-size: 20px;
        bottom: 0;
        opacity: 0.2;
    }
    &:after {
        content: attr(data-loc);
        position: absolute;
        font-size: 100px;
        opacity: 0.2;
    }
}

$cellBorder: #555;

.center {
    border-color: $cellBorder;
}

.left {
    border-right-color: $cellBorder;
}
.top > .cell {
    border-bottom-color: $cellBorder;
}
.bottom > .cell {
    border-top-color: $cellBorder;
}
.right {
    border-left-color: $cellBorder;
}

button {
    background: #333;
    border: 1px solid #555;
    font-size: 16px;
    color: silver;
    opacity: 0.2;
    margin: 8px;
    padding: 8px 8px;
    transition: opacity 150ms ease-in-out;
    &:hover {
        opacity: 1.0;
    }
}

#modal-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    background: rgba(240,240,240,0.2);

    #modal-content {
        margin: 25vh 25vw;
        padding: 1em;
        text-align: center;
        border: 2px solid #333;
        border-radius: 8px;
        background: rgba(0,0,0,0.65);
        // position: fixed;
        // top: 0;
        // left: 0;
        // right: 0;
        // bottom: 0;

    }
}

#svg-template {
    display: none;
}
svg {
    pointer-events: none;
    overflow: visible;
    stroke-linejoin: round;
    stroke-linecap: round;
}

use {
    stroke-width: 4px;
    stroke-dasharray: 400% 400%;
    stroke-dashoffset: 400%;
    animation: 1500ms ease-in-out draw-stroke forwards;
}

@keyframes draw-stroke {
    to {
        stroke-dashoffset: 0;
    }
}
