header
    h1 tic tac toe
main
    #board
        .row.top
            .cell.corner.left(data-loc="0"): svg(version="1.1" xmlns="http://www.w3.org/2000/svg" baseProfile="full" width="120px" height="120px")
            .cell.edge(data-loc="1"): svg(version="1.1" xmlns="http://www.w3.org/2000/svg" baseProfile="full" width="120px" height="120px")
            .cell.corner.right(data-loc="2"): svg(version="1.1" xmlns="http://www.w3.org/2000/svg" baseProfile="full" width="120px" height="120px")
        .row.middle
            .cell.edge.left(data-loc="3"): svg(version="1.1" xmlns="http://www.w3.org/2000/svg" baseProfile="full" width="120px" height="120px")
            .cell.center(data-loc="4"): svg(version="1.1" xmlns="http://www.w3.org/2000/svg" baseProfile="full" width="120px" height="120px")
            .cell.edge.right(data-loc="5"): svg(version="1.1" xmlns="http://www.w3.org/2000/svg" baseProfile="full" width="120px" height="120px")
        .row.bottom
            .cell.corner.left(data-loc="6"): svg(version="1.1" xmlns="http://www.w3.org/2000/svg" baseProfile="full" width="120px" height="120px")
            .cell.edge(data-loc="7"): svg(version="1.1" xmlns="http://www.w3.org/2000/svg" baseProfile="full" width="120px" height="120px")
            .cell.corner.right(data-loc="8"): svg(version="1.1" xmlns="http://www.w3.org/2000/svg" baseProfile="full" width="120px" height="120px")
#button-container
    button#human-x(onClick="game.selectHuman(marks.X)").active X
    button#human-o(onClick="game.selectHuman(marks.O)") O
    button#reset(onClick="game.reset()") Reset
    button#two-player(onClick="game.toggleTwoPlayer()") Two Player
#modal-container
    #x-wins
        h2 X Wins!
        button(onClick="game.reset()") Try Again
    #o-wins
        h2 O Wins!
        button(onClick="game.reset()") Try Again
    #draw
        h2 Nobody Wins!
        button(onClick="game.reset()") Try Again
svg(id="svg-template" version="1.1" xmlns="http://www.w3.org/2000/svg" baseProfile="full" width="120px" height="120px")
    g(id="X" fill-opacity="0")
        //- path(d="M60,60L0,0l20,0M60,60L0,0l0,20M60,60L0,120l20,0M60,60L0,120l0-20" stroke-width="3" stroke="#0FF")
        path(d="M60,60L0,0l20,0" stroke-width="3" stroke="#0FF")
        path(d="M60,60L0,0l0,20" stroke-width="3" stroke="#0FF")
        path(d="M60,60L120,0l-20,0" stroke-width="3" stroke="#FF0")
        path(d="M60,60L120,0l0,20" stroke-width="3" stroke="#FF0")
        path(d="M60,60L0,120l20,0" stroke-width="3" stroke="#0FF")
        path(d="M60,60L0,120l0-20" stroke-width="3" stroke="#0FF")
        path(d="M60,60L120,120l-20,0" stroke-width="3" stroke="#FF0")
        path(d="M60,60L120,120l0,-20" stroke-width="3" stroke="#FF0")
    g(id="O" fill-opacity="0")
        path(d="M60,0A60,60,0,0,1,120,60L100,60" stroke-width="3" stroke="#FFF")
        path(d="M120,60A60,60,0,0,1,60,120L60,100" stroke-width="3" stroke="#FFF")
        path(d="M60,120A60,60,0,0,1,0,60L20,60" stroke-width="3" stroke="#FFF")
        path(d="M0,60A60,60,0,0,1,60,0L60,20" stroke-width="3" stroke="#FFF")
        //- circle(id="O" cx="60" cy="60" r="60" fill-opacity="0" stroke="#F0F")
