main
    //- h1 Calculator
    section#display Ca,lcu,lat.or
    section#buttons
        .col
            div
            .op(data-op='%') %
            .num(data-num=7) 7
            .num(data-num=4) 4
            .num(data-num=1) 1
            .op(data-op='+-') ±
            //- div 00
        .col
            .op(data-op='CE') CE
            .op(data-op='(') (
            .num(data-num=8) 8
            .num(data-num=5) 5
            .num(data-num=2) 2
            .num(data-num=0) 0
        .col
            .op(data-op='C') C
            .op(data-op=')') )
            .num(data-num=9) 9
            .num(data-num=6) 6
            .num(data-num=3) 3
            .op(data-op='.') .
        .col
            .op(data-op='/') ÷
            .op(data-op='x') ×
            .op(data-op='-') −
            .op(data-op='+') +
            .op(data-op='=').tall =
        .col.wide
            div Foooo
